%header
  .row
    .span12
      .span1
        = image_tag(@current_user[:image_url], :class => 'profile-image')
      .span2
        .row.span6
          %h4 Ortuna
        .row.span6
          %h3 Explore Repos
      .span3.offset3.search
        %input{:type => 'text', :class => 'span3', :placeholder => 'Find a repo'}
.span12
  .repos
    - @repos.each do |repo|
      .repo{:class => cycle('odd', 'even') }
        .row.span8.offset1
          %h4=link_to(repo["name"], repo_files_path(repo["name"]))
          %p= repo["description"]

