<div class="span12">
  <div class="repos">
    <div data-ng-repeat='obj in tree | filter: search.filter'>
    <ng-switch on="obj.type">
      <div ng-switch-when="file" class="row span8 offset1">
          <h4>
            <a href="#/edit/{{params.user}}/{{params.repo}}/{{obj.encodedPath}}">
              {{obj.name}}
            </a>
          </h4>
      </div>
      <div ng-switch-when="dir" class="row span8 offset1">
          <h4>
            <a href="#/repo/{{params.user}}/{{params.repo}}/{{obj.encodedPath}}">
              {{obj.name}}
            </a>
          </h4>
      </div>
    </ng-switch>
    </div>

  </div>
</div>
