

.repo .row h4,
.repo .row p {
  padding: 10px;
  padding-top: 5px;
}

.repo .row h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.repo .desc {
  margin-bottom: 10px;
}

.repo.odd .row {
  /*background-color: #f8f8f8;*/
  margin-bottom: 20px;
}
