.top
  .navigation
    .links
      %ul.nav.nav-pills
        %li
          %a{:href => '#'} Contact Us
        %li
          %a{:href => '#'} Login
  .container.header
    .row.hero
      .span12
        %h2.headline Write. Collaborate. Iterate.
.main-content
  .container.strip
    .row
      .span6
        %h2 Write
        %p
          With WizzyWig, anyone on your team can edit your website. Our editor lets you make changes directly to your website and have them immediately go live.
      .span6
        =image_tag('homepage/empty-window.png', :class => 'window-one')

  .odd-strip
    .container.strip
      .row
        .span6
          =image_tag('homepage/empty-window.png', :class => 'window-two')
        .span6
          %h2 Collaborate
          %p
            With WizzyWig, anyone on your team can edit your website. Our editor lets you make changes directly to your website and have them immediately go live.


  .container.strip
    .row
      .span6
        %h2 Iterate
        %p
          With WizzyWig, anyone on your team can edit your website. Our editor lets you make changes directly to your website and have them immediately go live.
      .span6
        =image_tag('homepage/empty-window.png', :class => 'window-three')
