.top
  .navigation
    .links
      %ul.nav.nav-pills
        %li
          %a{:href => '#', :class => 'contact-us'} Contact Us
        %li
          %a{:href => '/login', :class => 'login'} Login
  .container.header
    .row.hero
      .span12
        %h1.title Writing.is
        %h2.headline Write with the power of github.
    .row.signup.span7.offset3
      .span3
        %input{:type => 'text', :placeholder => 'Email address'}
      .span2
        %a.btn-signup{:href => '#', :class => 'btn btn-large btn-block btn-success'}
          Get an invite
.main-content
  .container.strip
    .row
      .span6.content
        %br
        %br
        %br
        %br
        %h2 Focus on what you need to
        %p
          With WizzyWig, anyone on your team can edit your website. Our editor
          lets you make changes directly to your website and have them immediately go live.
      .span6
        =image_tag('homepage/empty-window.png', :class => 'window-one')

  .odd-strip
    .container.strip
      %br
      %br
      %br
      %br
      .row.faces
        .span6
          =image_tag('homepage/faces/sarah.jpg', :class => 'face')
          =image_tag('homepage/faces/kaitlin.jpg', :class => 'face')
          =image_tag('homepage/faces/sumeet.png', :class => 'face')
          

        .span5.content.pull-left
          %h2 Collaborate
          %p
            Let others help you. Remove barriers to contribution with a little
            help from markdown.  A dead simple manifest format will encourage
            others to contribute even without writing.is. 


  .container.strip
    .row
      .span6.content
        %br
        %br
        %br
        %br
        %h2 Iterate
        %p
          Copy-paste one piece of code, one time, and you'll be up and running.
          Manage edits, upload images, and create new pages all from one simple
          dashboard.
      .span6
        =image_tag('homepage/empty-window.png', :class => 'window-three')
