.top
  .navigation
    .links
      %ul.nav.nav-pills
        %li
          %a{:href => '#'} Contact Us
        %li
          %a{:href => '#'} Login
  .container.header
    .row.hero
      .span12
        %h2.headline Write. Collaborate. Iterate.
